<br>
Hello from the section file
<br>

<h2>{{product.title}}</h2>
<img src="{{product.featured_image | img_url: '300x'}}"/>


{% for block in section.blocks %}

    {% case block.type %}
        {% when "tax_notice_block" %}
            <h4>{{block.settings.tax_notice_text}}</h4>
        {% when "shipping_notice_block" %}
            <h4>{{block.settings.shipping_notice_text}}</h4>
        {% when "product_price_block" %}
            <h4>{{product.price}}</h4>
    {% endcase %}

{% endfor %}

{% if section.settings.show_reviews %}
<h4>🌟🌟🌟🌟🌟</h4>
{% endif %}

{% schema %}
    {
        "name": "product page content",
        "settings": [
            {
                "id": "show_reviews",
                "label": "show reviews?",
                "type": "checkbox"
            }
        ],
        "blocks": [
            {
                "type": "tax_notice_block",
                "name": "Tax Notice",
                "limit": 1,
                "settings": [
                    {
                        "id": "tax_notice_text",
                        "label": "enter tax notice",
                        "type": "text"
                    }
                ]
            },
            {
                "type": "shipping_notice_block",
                "name": "Shipping Notice",
                "limit": 1,
                "settings": [
                    {
                        "id": "shipping_notice_text",
                        "label": "enter shipping notice",
                        "type": "text"
                    }
                ]
            },
            {
                "type": "product_price_block",
                "name": "Product Price",
                "limit": 1,
                "settings": []
            }
        ]
    }
{% endschema %}